@charset "utf-8";

/*public 公共样式*/

.fl {float: left;}
.fr {float: right;}
.clear {zoom: 1;} /*IE系列 清浮动*/
.clear:after{content: '';display: block;clear: both;} /*标准浏览器清浮动*/
/*渐变*/
.gradient {
	background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:linear-gradient(top, #FFFFFF, #f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	+background:#f9f9f9;
}

/*布局模块 layout*/

#header {width: 960px;height: 30px;margin: 0 auto; border-radius: 0 0 6px 6px;}
#nav {width: 960px;height: 100px; margin: 0 auto ; background: yellow}
#search{width: 958px;height: 114px; border: 1px solid #dbdbdb;margin: 0 auto 10px;border-radius:6px;}
#search .bar{}


.content{width: 960px; margin: 0 auto;}
.mian{width: 710px;}
.section{width: 318px; height: 200px; padding: 0 15px; border: 1px solid #dbdbdb;border-radius:6px; margin-bottom: 10px;}
.options{width: 350px; height: 200px; background: #FF9}
.main_ad{border-radius: 6px;overflow: hidden;margin-bottom: 10px;}

.side{width:240px;}
.side_section{border-radius: 6px;border: 1px solid #dbdbdb;height: 100px;margin-bottom: 10px;}
.side_ad{border-radius: 6px;overflow: hidden; margin-bottom: 10px;}
.ad_border{}

#footer{}